body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


form label {
  display: block;
}

h1 {
  display: block;
  margin-top: 7%;
  margin-bottom: 3%;
  margin-left: 5%
}

div {
  flex-wrap: "wrap";
  flex-grow: 1;
  flex-basis: 0;
}

textarea {
  resize: none;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  font-family:"Courier" !important;
}

button {
  resize: none;
  margin-left: 5%;
}

