h6 {
  margin-top: 3% !important;
  font-family: Lato;
  font-size: 18px !important;
  font-weight: 600 !important;
  margin: 0;
}

.spinner-holder {
  padding-left: calc(50% - 5rem);
  padding-top: 5%;
  margin-bottom: 5%;
}

.spinner-border {
  width: 10rem !important;
  height: 10rem !important;
}

.container {
  padding-left: 17% !important;
  padding-right: 17% !important
}

pre {
  display: inline !important;
}

.btn-calculate {
  color: #00000080 !important;
  border-color: #bf9b6d !important;
  margin-top: 1rem;
  color: black !important;
  background-color: #dfc5a5 !important;
  margin: auto;
  margin-top: 1rem;
  font-weight: 600 !important;
}

.btn-example-code {
  height: 100%;
  color: #00000080 !important;
  border-color: #bf9b6d !important;
  color: black !important;
  background-color: #dfc5a5 !important;
  margin: auto;
  font-size: 14px !important;
  font-weight: 500 !important;
}

.col-lg {
  margin-bottom: 2%;
}

.btn:hover {
  background-color: #bf9b6d !important;
}

button:disabled,
button[disabled]{
  cursor:not-allowed !important;
}

button:disabled:hover,
button[disabled]{
  background-color: #dfc5a5 !important;
}